spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
   #url: jdbc:h2:tcp://localhost/~/test;MODE=MySQL;DATABASE_TO_LOWER=TRUE;NON_KEYWORDS=VALUE
   #username: sa
   #password:
   #driver-class-name: org.h2.Driver

#  h2:
#    console:
#      enabled: true
#      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        use_sql_comments:

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: info
    org:
      springframework:
        web: DEBUG
  file:
    name: /home/logs/spring.log

